@font-face {
    font-family: 'pd';
    font-style: normal;
    font-weight: 400 900;
    font-display: swap;
    src: url(pd.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
@font-face {
    font-family: 'roboto';
    font-style: normal;
    font-weight: 400 900;
    font-display: swap;
    src: url(roboto.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

body {
    font-family:"roboto";
}


header {
    position: sticky; top: 0;
}



.topnav{
    background: #546e7a;
    color: white;
}

.limit {
    margin: auto;
    max-width: 70vw;
}


.vc {
    display: flex;
    /* justify-content: center; */
    align-items: center;
}
.hc {
    justify-content: center;
}

.section-head {
    font-family: 'pd';
    background: #3a3a3a;
    font-size: 40px;
    text-align: center;
    color: white;
    max-width: 70vw;
    margin: auto;

}


.nav-menu > a { color: white; text-decoration: none;}

main {
    /* padding-bottom: 3em; */
}

.main-line {
    font-size: 4em;
    font-family: "pd";

}

a {
    text-decoration: none;
}

/**/
.custom-link {
display: inline-block;
text-decoration: none;
color: blue;
padding: 4px 8px;
transition: font-size 0.3s ease;
}
.custom-link:hover {
font-size: 1.1em;
}
.custom-link::after {
content: "\2197";
margin-left: 6px;
display: inline-block;
}
/**/


.event-detail {
    text-align: center;
}

.event-head{
    font-size: 25px;
}


.event-img {
    width: 100%;
    max-width: 280px;
}



.event-img-v1 {
    width: 100%;
}

.event-img-wide {
    width: 100%;
    max-width: 420px;
}

.event-text {
    font-size: 18px;
}


@media only all and (min-width: 320px) {

}

@media only all and (min-width: 760px) {

    .event-detail {
    text-align: left;
}
}


.section { 
    margin: auto;
    max-width: 70vw;
    background: #c9e1ffbd;
}

.nav {
    display: grid;
    grid-template-columns: 30% 70%;
}

.nav-menu {
    text-align: right;
}

.nav-flex {
    display: flex;
    justify-content: flex-end;
    gap: 1em;
}

.nav-item {
padding: 0.5em 0.25em;
font-size: 1.3em;
}

.active-tab {
    border-bottom: 4px solid white;
}


.main-card {
    background-image: url("bg.png"); /* The image used */
    background-color: #cccccc; /* Used if the image is unavailable */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}


.main-content {
    background-image:     linear-gradient(
        rgba(255, 255, 255, 0.45), 
        rgba(255, 255, 255, 0.45)
      ),url("sabik_bg.png"); /* The image used */
    background-color: #cccccc; /* Used if the image is unavailable */
    background-position: top; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    background-attachment: fixed;
    padding-bottom:  3em;
    /* filter: blur(8px);
    -webkit-filter: blur(4px); */

    
}


.site-user {
    font-size: 2em;
    font-family: "pd";
}
footer {
    background-color: #546e7a;
    color: white;
    text-align: center;
    font-size: 1rem;
}

.footer-text {
    width: 100%;
    color: white;
    text-align: center;
}




.pbl5 {
    padding-bottom: 5rem;
}

.leftbar {
    border-left: 5px solid black;
    padding-left: 1em;
    margin-left: 2em;
}


.ci {
    display: none;
}

.active-image {
    display: inline-block;
}


.big-nav-item {
    color: #333;
    width: 100%;
    display: flex;
    gap: 0.5em;
    justify-content: center;
    background-color: #c9e1ffbd; /*#7bbafdd6; */
    font-size: 3em;
    margin: auto;
    text-align: center;
    border: 1px solid #3a3a3a;
    padding: 0.2em;
    transition: all 0.3s;
    cursor: pointer;
    user-select: none;
    vertical-align: top;
}
.big-nav-item:hover {
    transform: scale(1.1);
    background-color: #c9e1ff;
}



.big-icon {
    width: 3em;
    vertical-align: baseline;
}


.maf {
    margin: auto 0;
}

.nav-section {
    display: grid;
    grid-template-columns: 50% 50%;
}


.bg-research {
    background-image: url("res/banner/rese.jpg"); /* The image used */
}
.bg-contacts {
    background-image: url("res/banner/contacts.jpg"); /* The image used */
}
.bg-profile {
    background-image: url("res/banner/profe.png"); /* The image used */
}
.bg-portfolio {
    background-image: url("res/banner/port.png"); /* The image used */
}
